<div class="container">
    <h1 class="my-4">Management Programs</h1>
    
    <div class="assessment-container">
        <form [formGroup]="managform" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th colspan="5">Management Section 1</th>
                        <th>Assessment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-success"> <strong>1. When we find or learn of environmental and social problems, we do the following:</strong></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="5">Assume that the people involved will handle the problem. (0)</td>
                        <td rowspan="6"><input type="number" formControlName="q1" min="0" max="5" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td colspan="5">Depend on the investor, customer or external stakeholder to tell us what to do. (1)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Take action in the affected area to minimize the impact. (2)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Take action in the affected area to minimize the impact and review other related areas to see if the problem is replicated elsewhere. (3)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Analyze the problem and improve our operations to minimize the impact and the chance of recurrence. (4)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Analyze the problem and improve our operations and ESMS to address the impact and prevent it from happening again. We prioritize actions that avoid the impact, over those that minimize it. (5)</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-success"> <strong>2. The following best describes how our procedures address environmental and social risks and impacts: </strong></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="5">Our procedures are focused on business operations only and do not address environmental and social risks and impacts. (0)</td>
                        <td rowspan="6"><input type="number" formControlName="q2" min="0" max="5" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td colspan="5">The people at my company are aware of the environmental and social risk management procedures but these are not documented. (1)</td>
                    </tr>
                    <tr>
                        <td colspan="5">We have some documented procedures to minimize and/or offset negative impacts and improve performance. These address some of the environmental and social risks and impacts identified by our risk assessment. (2)</td>
                    </tr>
                    <tr>
                        <td colspan="5">We have documented procedures to avoid as well as minimize and/or offset negative impacts and improve performance. These address all environmental and social risks and impacts identified by our risk assessment. The risk assessment covers our internal operations only. (3)</td>
                    </tr>
                    <tr>
                        <td colspan="5">We have documented procedures to avoid as well as minimize and/or offset negative impacts and improve performance. These address all environmental and social risks and impacts identified by our risk assessment. The risk assessment covers our internal operations. We routinely review and improve our procedures. (4)</td>
                    </tr>
                    <tr>
                        <td colspan="5">We have documented procedures to avoid as well as minimize and/or offset negative impacts and improve performance. These address all environmental and social risks and impacts identified by our risk assessment. The risk assessment covers our internal operations and our supply chain. We routinely review and improve our procedures based on our monitoring and internal and external feedback. (5)</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-success"> <strong>3- The following best describes how we develop our environmental and social action plans: </strong></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="5">Normally we do not require specific action plans, as the concerned departments take appropriate actions to address the environmental and social issues. (0)</td>
                        <td rowspan="6"><input type="number" formControlName="q3" min="0" max="5" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td colspan="5">Our action plans are primarily developed for us by external consultants/experts. (1)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Supervisors and managers are qualified and they prepare the necessary Action Plans, with the support of external experts as and when required. (2)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Supervisors and managers are responsible for preparing the necessary Action Plans, in consultation with the workers. External experts are engaged when necessary. (3)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Our Action Plans are based on extensive research on best practices and input from workers, managers and external experts as appropriate. (4)</td>
                    </tr>
                    <tr>
                        <td colspan="5">We consider industry best practices and consult all our key stakeholders (e.g. investors, customers, suppliers, community) when developing Action Plans. There is appropriate involvement of workers and senior management. (5)</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-success"> <strong>4. The following best describes the structure of our action plans: </strong></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="5">Normally we do not develop specific action plans. If necessary, the concerned personnel are informed verbally or by phone/e-mail. (0)</td>
                        <td rowspan="6"><input type="number" formControlName="q4" min="0" max="5" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td colspan="5">Our action plans are simple and list the actions to be taken along with the target dates. (1)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Our action plans specifically mention the responsible personnel along with the actions and target dates. (2)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Our action plans include actions to be taken with target dates, responsible personnel and the necessary resources required for implementation of each action. (3)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Our action plans include actions to be taken with target dates, responsible personnel and the necessary resources required for implementation of each action. (4)</td>
                    </tr>
                    <tr>
                        <td colspan="5">We have a structured format for the action plans that includes operational procedures needed for the long-term sustainability of the actions. All necessary information pertaining to targeted objectives and indicators, actions, target dates, responsibility and necessary resources are well-defined. (5)</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-success"><strong>5. We make sure that the action plans have been implemented by doing the following: </strong></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="5">If we don’t hear another complaint about it, we assume it’s resolved. (0)</td>
                        <td rowspan="6"><input type="number" formControlName="q5" min="0" max="5" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td colspan="5">The people directly involved are responsible for checking progress on the Action Plans. (1)</td>
                    </tr>
                    <tr>
                        <td colspan="5">The people directly involved are responsible for checking and reporting on the progress on the Action Plans. (2)</td>
                    </tr>
                    <tr>
                        <td colspan="5">The people with responsibility for our ESMS routinely review records and progress on the Action Plans with all department managers. (3)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Multiple departments and senior management review and verify progress on Action Plans. They review records of all problems and resolutions and verify that the appropriate adjustments to the Action Plans and the ESMS have been made. (4)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Multiple departments and senior management review and verify progress on action plans and ESMS improvements, and set annual improvement goals. (5)</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div id="scoreDisplay" *ngIf="showScore">
                <h2>Management Scores:</h2>
                <p>Total Score: {{ totalScore }}</p>
                <p>Average Score: {{ averageScore.toFixed(2) }}</p>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                <button id="cancelbtn" class="btn btn-secondary">
                    <a href="index.html" class="text-white text-decoration-none">Cancel</a>
                </button>
                <button type="button" id="nextbtn" class="btn btn-success" routerLink="/orga" (click)="onNext()">Next</button>
            </div>
        </form>
    </div>
</div>