<div class="container mt-4">
    <div class="assessment-container">
      <form >
        <h1 class="mb-4">Improvements Tips</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="10" class="text-center">Improvements Tips</th>
            </tr>
            <tr>
              <th colspan="2"></th>
              <th>1. Policy</th>
              <th>2. Identification of Risks and Impacts</th>
              <th>3. Management Programs</th>
              <th>4. Organizational Capacity and Competency</th>
              <th>5. Emergency Preparedness and Response</th>
              <th>6. Stakeholder Engagement</th>
              <th>7. External Communication and Grievances</th>
              <th>8. Reporting Back to Affected Communities</th>
              <th>9. Monitoring and Review</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">5</td>
              <td>Set more aggressive annual improvement targets as part of business planning. Share your policies and procedures with your suppliers.</td>
              <td>Engage all levels of company and external stakeholders evaluating risk assessment results against performance indicators. Integrate into continual improvement plan. Include in business risk analysis and planning.</td>
              <td>Include external stakeholder feedback in reviewing and updating action plans and objectives and targets. Integrate into continual improvement plan. Include in business/operations planning.</td>
              <td>Help suppliers to build organizational capacity to manage E&S issues - develop a supplier orientation training and simple toolkits. Rotate team members to involve more people. Provide leadership, change management and train-the-trainer training for team, including worker reps.</td>
              <td>Develop shared resources and collective community response systems. Implement train-the-trainer programs so that workers can train their peers, families and communities.</td>
              <td>Include stakeholders in ESMS assessment and improvement planning. Launch worker-manager pilot with key stakeholders as facilitators.</td>
              <td>Formalize involvement of key stakeholders in the procedures for receiving and handling complaints. Provide training and tools to help suppliers to implement their own system.</td>
              <td>Expand reporting to include supply chain risks and impacts, management and performance. Provide training and tools to help suppliers implement their own reporting system.</td>
              <td>Formalize the involvement of key stakeholders into monitoring and review and related ESMS improvement planning. Integrate the results of supply chain monitoring and review to sourcing policies and supplier capacity building programs.</td>
            </tr>
            <tr>
              <td colspan="2">4</td>
              <td>dde</td>
              <td>Develop and implement a procedure for consulting with stakeholders to proactively identify risks. Develop and implement a procedure for identifying risks in the supply chain.</td>
              <td>Link action plans to ESMS improvements and operational changes. Launch worker-manager pilot in a key risk area. Include key performance indicators.</td>
              <td>Develop and implement annual ESMS resource allocation plan as part of annual business planning. Increase decision-making authority for the team and add role to job description and performance review.</td>
              <td>Conduct periodic consultations with the surrounding community to identify on-site and off-site emergency scenarios. Develop and implement external communications channels and management system.</td>
              <td>Set schedule and procedure for periodically updating stakeholder map and engagements. Include stakeholder participation in internal and external grievance mechanism.</td>
              <td>Extend your system to suppliers and contractors. Include complaints and resolutions in public reporting.</td>
              <td>Publish annual E&S reports following international leading practices, such as GRI. Expand proactive consultation and reporting on risk assessments and avoidance before new projects, expansions and changes.</td>
              <td>Apply the results of monitoring and review to periodic review and update of the ESMS improvement plan. Extend the monitoring system to suppliers and contractors.</td>
            </tr>
            <tr>
              <td colspan="2">3</td>
              <td>Communicate to everyone in ALL languages. Set a schedule for management review and updates.</td>
              <td>Set a procedure, schedule and team for conducting, reviewing and updating the risk assessment. Include both facility and outsourced operations. Develop and implement a procedure for involving workers in the risk assessment.</td>
              <td>Include root cause analysis in developing action plans and provide training for managers and worker representatives. Set company-wide objectives and targets and review progress against action plans.</td>
              <td>Build multi-departmental team and implement a progressive annual training plan covering ESMS improvement planning. Assign senior management to oversee the team. Set team meeting and management review schedule and procedures.</td>
              <td>Conduct worker surveys to measure awareness and to get ideas for weak areas and improvement ideas. Set a procedure and schedule for senior management review.</td>
              <td>Consult with key groups as part of risk assessment process. Organize an open stakeholder meeting to discuss a common challenge.</td>
              <td>Set schedule for procedure for senior management and team to periodically review the system and the cases. Develop a documentation system for logging, tracking and analyzing complaints and resolutions.</td>
              <td>Expand reporting to include performance tracking and complaints. Conduct routine consultations including affected communities, multiple department managers and senior management.</td>
              <td>Train and involve workers in the monitoring activities. Include monitoring system and results in formal and periodic management review and updates.</td>
            </tr>
            <tr>
              <td colspan="2">3</td>
              <td>Centralize code, policies, procedures and records. Keep a log of updates.</td>
              <td>Develop and implement a checklist of key E&S risks based on good international practices. Conduct a process mapping. Develop and implement a matrix to prioritize E&S risks across all key units.</td>
              <td>Include managers from different departments in creating and reviewing action plans. Include the analysis of options to Avoid, Minimize and Offset/Compensate in the procedure for developing action plans.</td>
              <td>Expand the new employee training to understand risk identification, action plans and grievance mechanisms. Define roles and responsibilities for managing E&S risks in all areas. Assign and train staff and worker representatives.</td>
              <td>Include early warning systems and preventive actions as a required part of the emergency management system. Conduct training, refresher training and tests for all workers on early warning systems and preventive actions.</td>
              <td>Add “proactive communication” to your procedure. Document and track engagement efforts and key discussion outputs.</td>
              <td>Communicate procedures to employees and stakeholders. Conduct training for staff on how to manage the system.</td>
              <td>Consult with affected communities to ask what reporting would be most useful. Develop multiple channels for reporting.</td>
              <td>Develop and implement an internal E&S audit procedure. Set a schedule and assign staff to periodically review monitoring activities and results.</td>
            </tr>
            <tr>
              <td colspan="2">1</td>
              <td>Expand policies to address key E&S risks in the industry and region. Check for updates to local laws and regulations and customer/investor codes.</td>
              <td>Analyze employee gender, age and ethnic profiles to identify potential labor risks. Develop a list of the communities that could be affected by facility operations.</td>
              <td>Develop an action plan template that includes the activity, deadline, person responsible, operating procedures. Start a central tracking log and assign someone to be responsible for organizing and updating.</td>
              <td>Conduct refresher training for all employees. Assign and train key managers to monitor E&S in key areas. Assign and train a team leader to develop and implement Action Plans.</td>
              <td>Assign and train an emergency management team to identify all key risks and prepare response plans. Conduct orientation and refresher training for all workers on the response plans.</td>
              <td>Develop a map of key stakeholders. Write a policy and procedure for responding to stakeholders.</td>
              <td>Develop a procedure for responding to complaints. Keep a log of complaints and responses.</td>
              <td>Develop a procedure and assign staff for reporting to affected communities on key risks and action plans. Develop a simple reporting format and centralized log.</td>
              <td>Develop a procedure for monitoring the most severe or most probable risks. Appoint a team member to be in charge of monitoring.</td>
            </tr>
            <tr>
              <td colspan="2">0</td>
              <td>Adopt an E&S policy statement. Send CEO commitment letter to all employees.</td>
              <td>Identify the five most common E&S risks in industry and region. Conduct a physical walk-through of your facility to see where these five most common risks might be relevant.</td>
              <td>Write and implement an action plan for addressing one key environmental and one key community risk. Write and implement an action plan for addressing one key labor and one key OHS risk.</td>
              <td>Display posters and announcements and conduct a 20-minute orientation for all employees, explaining E&S policy statement. Consult external experts to identify risks and develop Actions Plans. Assign key managers to observe.</td>
              <td>Work with external experts to develop an emergency response plan for the most common emergencies in your industry and area. Develop and implement a schedule for mock drills.</td>
              <td>Work with external experts to develop an emergency response plan for the most common emergencies in your industry and area. Develop and implement a schedule for mock drills.</td>
              <td>Develop a procedure for receiving complaints. Assign and train a main responsible staff person.</td>
              <td>Identify one key stakeholder for E&S and start a dialogue about key risks. Appoint a main contact person.</td>
              <td>Identify three key indicators for each of the E&S risks identified. Develop a procedure for measuring the indicators.</td>
            </tr>
          </tbody>
        </table>
        <div class="mt-4"><button routerLink="/plan" class="btn btn-primary" (click)="onNext()">Improvement Plan</button>
        </div>
      </form>
    </div>
  </div>
  