<div class="container mt-4">
    <div class="assessment-container">
        <form>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2"></th>
                        <th>1. Policy</th>
                        <th>2. Identification of risks and impacts</th>
                        <th>3. Management Programs</th>
                        <th>4. Organizational capacity and competency</th>
                        <th>5. Emergency Preparedness and Response</th>
                        <th>6. Stakeholder engagement</th>
                        <th>7. External communication and grievances</th>
                        <th>8. Reporting back to affected communities</th>
                        <th>9. Monitoring and review</th>
                    </tr>
                    <tr>
                        <th colspan="2">5</th>
                        <td>E&S policies and procedures clearly communicated internally and externally. Senior management commitment to continual improvement.</td>
                        <td>Mature system, routinely reviewed and updated as part of continual improvement plan. Internal and external inputs. Procedures extended to contractors, subcontractors, third parties and supply chain as relevant.</td>
                        <td>Verified progress against objectives and targets; significant improvements in E&S performance. Demonstrated commitment to continual improvement using annual improvement plans.</td>
                        <td>All levels of the company are trained and engaged – multiple units and workers as well as managers. E&S staff has implementation authority. Management commitment is reflected in resources devoted to E&S management and training.</td>
                        <td>Regular engagement with local community and government for onsite and offsite emergency plan. Formal resource-sharing agreements with neighboring companies.</td>
                        <td>Stakeholder engagement is part of regular activities. Awareness and engagement at senior levels. Fluent and inclusive communication and consultation process with stakeholders.</td>
                        <td>Proactive and responsive communications and grievance mechanisms. Stakeholders are consulted on the effectiveness and are part of the regular review process.</td>
                        <td>Affected communities’ issues and concerns are proactively addressed. There is ongoing communication to avoid risks and impacts before new projects, as well as to address existing issues.</td>
                        <td>Robust system of continual learning and improvement. Senior management receives periodic reports about E&S performance and progress toward E&S objectives and targets. All key project decisions consider E&S.</td>
                    </tr>
                    <tr>
                        <th colspan="2">4</th>
                        <td>Full set of E&S policies, procedures and records, centrally maintained and routinely reviewed. Wide awareness in company.</td>
                        <td>Systematic, documented identification and prioritization of E&S risks and impacts. Routinely reviewed and updated across existing, new and changing activities. Wide awareness and engagement in company.</td>
                        <td>Routine, consistent implementation of actions and procedures to proactively manage E&S risks and impacts. Measurable company-wide objectives and targets. Periodic review and update.</td>
                        <td>Multiple units have E&S responsibilities, and senior management is involved. E&S is managed as an integrated system. New staff receives some E&S management guidance.</td>
                        <td>Senior management and all units and shifts, including contract and temporary workers, participate in emergency risk assessment, preparedness planning and mock drills. Continual improvement.</td>
                        <td>Multiple and ongoing public consultation and participation in a culturally appropriate manner. Stakeholder feedback is actively considered. Reporting to communities and effective grievance mechanism is evidenced by formal records.</td>
                        <td>Effective grievance mechanism is evidenced by formal records. There is routine review of the records and the effectiveness of the program.</td>
                        <td>Reporting to affected communities is regularly implemented and evidenced in documentation. Key units are involved in the review of the key issues.</td>
                        <td>Monitoring, supervising and auditing activities are integrated and included in management review. Includes consultation with workers, customers and suppliers.</td>
                    </tr>
                    <tr>
                        <th colspan="2">3</th>
                        <td>Monitoring, supervising and auditing activities are integrated and included in management review. Includes consultation with workers, customers and suppliers.</td>
                        <td>Awareness and engagement of staff in identification and prioritization of E&S risks and impacts. External experts involved as required.</td>
                        <td>Actions and procedures in place to manage E&S risks and impacts, following the mitigation hierarchy - Avoid, Minimize, Offset/Compensate. Proactive approach to managing issues.</td>
                        <td>All levels of the company are involved in awareness training. E&S roles and responsibilities are assigned and part of daily operations. E&S staff is trained and competent.</td>
                        <td>All onsite and off-site emergency issues have been identified, and an effective preparedness plan is in place. The emergency plan meets the local regulatory requirements and the local industry best practices.</td>
                        <td>Stakeholders have been identified and engaged in several events with effective dialogue. Some procedures and assigned responsibility for engaging with stakeholders.</td>
                        <td>Grievance mechanism is fully implemented; however there is not enough evidence of its effectiveness. No tracking of internal or external awareness; limited tracking of cases.</td>
                        <td>When applicable, consultation processes have been implemented. External consultants are involved as required. No ongoing review.</td>
                        <td>Routine review of monitoring and supervision activities, including participation of workers. Corrective actions routinely implemented. An E&S internal audit plan is in place.</td>
                    </tr>
                    <tr>
                        <th colspan="2">2</th>
                        <td>Policies in place meeting selected E&S standards. Sporadic, conflicting or confusing procedures.</td>
                        <td>Procedures in place for identification of E&S risks and impacts across all key activities.</td>
                        <td>Procedures and assigned responsibilities to address and mitigate E&S risks and impacts across all key activities. Primarily reactive.</td>
                        <td>E&S roles are defined and assigned. Each issue is handled only by one functional area. Some awareness training is provided at orientation, and additional training is provided for EHS staff.</td>
                        <td>The emergency preparedness plan is in place, but there is no evidence of consistent implementation. Some trainings are provided to the workers on emergency requirements.</td>
                        <td>Some public events, limited ongoing engagement process. Sporadic and selective responses when approached by stakeholders.</td>
                        <td>Procedures and assigned responsibilities for receiving and handling complaints. Awareness is limited to those directly handling the complaints.</td>
                        <td>Procedures in place for reporting, usually assigned to E&S staff. Primarily reactive.</td>
                        <td>Key E&S monitoring plans in place, with inspection and supervision activities. Primarily reactive and guided by external experts, customers and investors.</td>
                    </tr>
                    <tr>
                        <th colspan="2">1</th> 
                        <td>Limited E&S policies in place.</td>
                        <td>Basic identification and assessment of E&S risks and impacts, but limited to a few activities.</td>
                        <td>A few informal programs or activities to mitigate E&S risks and impacts.</td>
                        <td>No assigned staff with E&S management responsibilities. Some limited awareness and E&S roles and responsibilities starting to get defined.</td>
                        <td>Emergency management planning is not effective, as all emergency risks have not been identified. Occasional trainings are provided to workers.</td>
                        <td>Limited channels in place. A few meetings and discussions, but not an ongoing process.</td>
                        <td>Some basic procedures for receiving complaints. Responsibility limited to one person or unit.</td>
                        <td>Some basic communications with affected communities, mostly limited to meetings.</td>
                        <td>Few monitoring plans to satisfy regulatory requirements. No formal review activities. No systems awareness or repeatable processes.</td>                           
                    </tr>
                    <tr>
                        <th colspan="2">0</th>
                        <td>No E&S standards adopted. No related policies and procedures.</td>
                        <td>No identification or assessment of E&S risks and impacts.</td>
                        <td>No process for mitigating E&S risks and impacts.</td>
                        <td>No internal awareness and no formally assigned responsibility for E&S.</td>
                        <td>Very limited emergency control and personal protective equipment. No formal plan in place.</td>
                        <td>Little or no transparency with stakeholders.</td>
                        <td>No mechanism in place.</td>
                        <td>No reporting.</td>
                        <td>No monitoring of E&S performance.</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="d-flex justify-content-between mt-4">
                <button id="nextbtn" class="btn btn-primary" routerLink="/impritips" class="text-white text-decoration-none" (click)="onNext()">Improvement Tips</button>
            </div>
        </form>
    </div>
</div>
