<div class="container mt-4">
    <div class="assessment-container">
      <form [formGroup]="planform">
        <h1 class="mb-4">Improvement Plan</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Bank Assessment</th>
              <th>Implementation Priority for Next 3 Months (Y/N)</th>
              <th>Observations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Policy</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2. Identification of Risks and Impacts</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3. Management Programs</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4. Organizational Capacity and Competency</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>5. Emergency Preparedness and Response</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>6. Stakeholder Engagement</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>7. External Communication and Grievance Mechanisms</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>8. Ongoing Reporting to Affected Communities</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>9. Monitoring and Review</td>
              <td>0,0</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  